<% if session[:user_id]!=nil %>
    <h1>Editing comment</h1>

<%= render 'form' %>


<%= link_to 'Back to posts', :controller=>'posts', :action=> 'index'%>

<%else%>

    <h2>Please log in <%= link_to "here", :controller => 'logins', :action=>'new' %></h2>
<%end%>