<%if session[:user_id]!=nil%>
    <h1>New comment_vote</h1>

<%= render 'form' %>

<%= link_to 'Back', comment_votes_path %>
<%else%>

    <h2>Please log in <%= link_to "here", :controller => 'logins', :action=>'new' %></h2>
<%end%>